#container {
    font-family: Arial, sans-serif;
}

#container::before {
    content: "Before Element "; 
    
    
    color: #f00;
    
    
    font-size: 20px;
    

    font-weight: bold; 
}


#container::after {
    
    content: " After Element"; 
    
    color: #f00;
    
    font-size: 20px;
    
    font-weight: bold;
}